<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cl.inefable.jazb.inefable">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Controlador.C_Login"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Controlador.C_Signin"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Login"/>
        </activity>
        <activity
                android:name=".Controlador.C_AgregarVehiculo"
                android:label="@string/app_name"
                android:parentActivityName=".Controlador.C_Principal">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Principal"/>
        </activity>
        <activity
                android:name=".Controlador.C_DetalleVehiculo"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Principal"/>
        </activity>
        <activity
                android:name=".Controlador.C_ModificarPerfil"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Principal"/>
        </activity>
        <activity android:name=".Controlador.C_FirstLogin"/>
        <activity android:name=".Controlador.C_Principal"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".Controlador.C_Mapa_DefinirRuta"
                android:label="@string/app_name"
                android:theme="@style/AppTheme"
                android:parentActivityName=".Controlador.C_Principal">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Principal"/>
        </activity>
        <activity android:name=".Controlador.C_FiltrarVehículos"
                  android:label="@string/app_name"
                  android:parentActivityName=".Controlador.C_Mapa_DefinirRuta">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Mapa_DefinirRuta"/>
        </activity>
        <activity android:name=".Controlador.C_DetalleReserva"
                  android:label="@string/app_name"
                  android:parentActivityName=".Controlador.C_FiltrarVehículos">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_FiltrarVehículos"/>
        </activity>
        <activity android:name=".Controlador.C_CambiarClave"
                  android:label="Cambio de clave"
                  android:parentActivityName=".Controlador.C_Principal">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Controlador.C_Principal"/>
        </activity>
        <service android:name=".Controlador.Servicios.S_Notificador"/>
    </application>
</manifest>